.navbar {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    
    background-color: #363636;
    border-radius: 0;
}

.navlink {
    height: auto;
    width: auto;
    display: block;
}
.navlink:active {
  text-decoration: underline;
}
.navlink.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navleft, .navright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
}

.navleft {
    padding: 20px 20px 20px 0px; /* top right bottom left */
    margin-left: 30%;
}

.navright {
    gap: 20px;
    padding: 20px 40px 20px 20px;
    margin-right: 30%;
}